<div class="container">
    <h2>Bienvenidos</h2>
    <p>Seleccione una opcion</p>
    <ul class="container">
        <li class="fs-5"><a href="../products">Productos</a></li>
        <li class="fs-5"><a href="../cart">Carrito</a></li>
        <li class="fs-5"><a href="../chat">Chat</a></li>
    </ul>
</div>