<div id="chat-container">
  <div id="chat-window">
    <div id="output"></div>
    <div id="actions"></div>
  </div>
  <input type="text" id="message" placeholder="message" />
  <button id="send">Send</button>
</div>